body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #91c191;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Open Sans', Arial, sans-serif;
}
